/*
Custom CSS template for ioslides

Author: Matteo Courthoud
Repo: https://github.com/matteocourthoud/ioslides-theme
*/

/* Import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200..900;1,200..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

/* Slide: change font */
slides > slide {
  font-family: 'Source Sans 3', sans-serif;
  overflow: scroll;
}

/* Slide: text color black */
slides > slide > article {
  color: #191919;
  font-weight: 400;
}

slides > slide.title-slide p {
  color: #191919;
  font-weight: 400;
}

a:link {
  color: #ff7251;
  text-decoration: none !important;
  border: 0px;
}

a:visited { 
  text-decoration: none; 
} 
a:hover { 
  text-decoration: none; 
} 
a:active { 
  text-decoration: none; 
}

blockquote {
  background: #ffedbf;
  border-left: 5px solid #ff7251;
  margin: -1.5em 10px 1em;
  padding: 0.5em 1.5em;
}

/* Titles */
h1, h2, h3 {
  font-family: 'Crimson Pro', serif;
}

h3 {
  font-size: 1.5em;
  line-height: 1em;
  font-style: italic;
  padding-bottom: 1.5em;
}

/* Slide: transition slides white */
slides > slide.dark {
  background-color: #fafafa !important;
}

/* Header: change color */
h1, h2, h3 {
  color: #9b2948 !important;
}

.title-slide hgroup h1 {
  font-size: 3em;
}

.title-slide hgroup h2 {
  font-size: 2em;
  font-style: italic;
}

/* Header: underline section slides 
.auto-fadein {
  width: 70%;
}
.auto-fadein > h1 {
  border-bottom: 2px solid grey;
  padding-bottom: 10px;
}
.auto-fadein > h2 {
  border-bottom: 2px solid grey;
  padding-bottom: 10px;
}
*/
/* References: text color white
.csl-entry p {
  color: white;
}
*/

/* Citations: colored */
.cite {
  color: #ff7251;
  font-family: "Crimson Pro";
  margin-bottom: 10px;
}

/* Center Images */
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
  max-width: 100%;
}

/* Unordered list style */

/* First level */
ul > li:before {
  content: '';
}
ul > li {
  list-style-type: disc;
}

/* Second level */
ul > li > ul > li:before {
  content: '';
}
ul > li > ul > li {
  list-style-type: circle;
}


/* Code */
pre {
  font-family: 'Source Code Pro', monospace;
  width: auto !important;
  left: 0px !important;
  padding: 10px 20px 10px 20px !important;
  border-radius: 5px !important;
  border-color: #adb5bd !important;
  border-width: thin !important;
  border-style: solid !important;
}

pre.prettyprint {
  background-color: #f8f8f8 !important;
}




/* Table */
table.rmdtable {
  width: auto !important;
  margin-left: auto !important;
  margin-right: auto !important;
  margin-bottom: 25px;
  border-bottom: none !important;
  border-spacing: 0px !important;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

table.rmdtable th {
  background: none !important;
  background-color: #003f5c !important;
  padding: 10px;
  text-align: center !important;
}

table.rmdtable td, table th {
    padding: 1em 1em !important;
}

/* Round borders */
table.rmdtable th:first-child {
    border-radius: 5px 0 0 0;
}
table.rmdtable th:last-child {
    border-radius: 0 5px 0 0;
}

table.rmdtable tr:last-child td:first-child {
    border-radius: 0 0 0 5px;
}
table.rmdtable tr:last-child td:last-child {
    border-radius: 0 0 5px 0;
}

/* Table hover */
table.rmdtable:hover tr {
  background-color: #f2f2f2;
}

/* Table hover on header */
table.rmdtable th:hover {
  background-color: #e6e6e6;
}

/* References */
.references p {
  font-family: "Crimson Pro";
  font-size: 0.9em;
}